/* ==UserStyle==
@name        com.wordpress.sadhoovysinhumantranslations; restyle
@version     1.0.2
@description 2022/07/29, 6:53:19 PM
@namespace   https://github.com/ericchase/browseruserstyles
==/UserStyle== */
@-moz-document domain("sadhoovysinhumantranslations.wordpress.com") {
  .style-pack-vintage.page article,
  body {
    background-color: unset !important;
    color: unset !important;
  }
  #actionbar,
  #comments {
    display: none;
  }
}
