/* ==UserStyle==
@name        com.wordpress.confusedtls; content width
@version     1.0.2
@description 2022/03/30, 1:11:05 AM
@namespace   https://github.com/ericchase/browseruserstyles
==/UserStyle== */
@-moz-document domain("confusedtls.wordpress.com") {
  .content-area {
    float: unset;
    width: 570px;
    margin: auto;
  }
}
